.row{
	
}
.col-md-12{

}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/* Round Corners */
.hvr-round-corners {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-radius;
  transition-property: border-radius;
}
.hvr-round-corners:hover, .hvr-round-corners:focus, .hvr-round-corners:active {
  border-radius: 1em;
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

h1{
	text-align: center;
	color: #ffffff;
	font-family: sans-serif;
}

p{
	text-align: center;
	position: relative;
	color: #ffffff;
	margin:center;
	font-family: sans-serif;
	font-size:69px;
	text-transform: uppercase;
	font-family: fredoka one;
}

p{
	text-align: center;
	position: relative;
	color: #ffffff;
	font-size: 25px;
	margin:center;
	font-family: poiret one;
	text-transform: uppercase;
}

h3{
	font-family: Fredoka one;
	text-align: center;
	position: inherit;
	color:#ffffff;
	font-weight: 100;
}

#c1,#c2,#c3,#c4,#c5,#c6,#c7,#c8,#c9,#c10,#c11,#c12,#c13,#c14,#c15,#c16,#c17,#c18,#c19,#c20{
	width: 1450px;
	height: 169px;
}

nav{
	font-family: sans-serif;
	font-size: 15px;
	color:#ffffff;
	moz-osx-font-smoothing:Grow;
}

#c1{
	float:left;
	background-color: #1dd2af;
	
}
#c2{
	background-color: #2ecc71;
	float:left;
}
#c3{
	background-color: #3498db;
	float:left;
}
#c4{
	background-color: #9b59b6;
	float:left;
}
#c5{
	background-color: #34495e;
	float:left;
}
#c6{
	float:left;
	background-color: #16a085;
	
}
#c7{
	background-color: #27ae60;
	float:left;
}
#c8{
	background-color: #2980b9;
	float:left;
}
#c9{
	background-color: #8e44ad;
	float:left;
}
#c10{
	background-color: #2c3e50;
	float:left;
}
#c11{
	float:left;
	background-color: #f1c40f;
	
}
#c12{
	background-color: #e67e22;
	float:left;
}
#c13{
	background-color: #e74c3c;
	float:left;
}
#c14{
	background-color: #ecf0f1;
	float:left;
}
#c15{
	background-color: #95a5a6;
	float:left;
}
#c16{
	float:left;
	background-color: #f39c12;
	
}
#c17{
	background-color: #d35400;
	float:left;
}
#c18{
	background-color: #c0392b;
	float:left;
}
#c19{
	background-color: #bdc3c7;
	float:left;
}
#c20{
	background-color:#7f8c8d ;
	float:left;
}